.game-component {

  .header-panel {
    border: 1px solid gray;
    box-shadow: 1px 1px 1px lightgrey;
    padding: 8px;

    &.stone-age {
      background-color: greenyellow;
    }

    &.middle-ages {
      background-color: sandybrown;
    }

    &.early-modern-age {
      background-color: lightblue;
    }

    &.late-modern-age {
      background-color: lightsteelblue;
    }

    &.contemporary-age {
      background-color: lightpink;
    }

    .next-age-button {
      margin-top: 8px;
    }

  }

}
