<div class="container-fluid game-component">
  <!--// Header Panel //-->
  <div class="header-panel {{gameData.currentAge}}">
    <div class="row">
      <div class="col-3">
        <h4>Dark Matter (DM): {{ gameData.currentDarkMatter.toFixed(2) }}</h4>
        <h4>
          Time Particles (TP): {{ gameData.currentTimeParticles.toFixed(2) }}
        </h4>
      </div>

      <div class="col-6 center">
        <h3
          title="You need to collect Paradox Tokens to fix the time continuum and beat the game!"
        >
          Paradox Tokens: {{ gameData.currentParadoxTokens }} / {{
          gameData.fixTimeContinuumCostInTokens }}
        </h3>

        <app-clicker
          [clickRate]="gameData.currentBaseClickRate"
          [clickMultiplier]="gameData.currentClickRateMultiplier"
          (clickerEarnings)="addClickerEarnings($event)"
        ></app-clicker>

        <app-dark-matter-collector
          *ngIf="gameData.lifetimeDarkMatter >= 250"
          [collectorsOwned]="gameData.darkMatterCollectorOwned"
          [collectorsBaseCost]="gameData.darkMatterCollectorBaseCost"
          [collectorsCostMultiplier]="gameData.darkMatterCollectorCostMultiplier"
          [timeParticleCount]="gameData.currentTimeParticles"
          (collectorsUpdated)="updateCollectors($event)"
        >
        </app-dark-matter-collector>
      </div>

      <div class="col-2">
        <h4 title="Dark Matter per Second">DM/s: {{ DMpS.toFixed(2) }}</h4>
        <h4 title="Time Particles per Second">TP/s: {{ TPpS.toFixed(2) }}</h4>
      </div>
    </div>
    <!--// Progress Bar and Age/Loop Buttons //-->
    <div class="row col-12 center">
      <app-age-progress-bar
        [currentLifetimeTimeParticles]="gameData.lifetimeTimeParticles"
        [particlesNeeded]="getParticlesNeededForNextAge()"
        [nextAgeName]="getNextAgeName()"
      ></app-age-progress-bar>

      <button
        *ngIf="canAdvanceAge()"
        class="pure-button button-secondary next-age-button"
        (click)="goToNextAge()"
      >
        Jump To <span class="bold">[{{getNextAgeName()}}]</span>!
      </button>

      <button
        *ngIf="canLoop()"
        class="pure-button button-secondary next-age-button"
        (click)="loop()"
      >
        Stuck In A Loop! <span class="bold">[+1 Paradox Token]</span>!
      </button>
    </div>
  </div>

  <!--// Content Panel //-->
  <div *ngIf="!canFixTime()" class="content-panel">
    <!--// Bottom Panel // -->
    <div class="row">
      <!--// Purchases //-->
      <div class="col-4 time-machine-wrapper">
        <app-time-machines
          [timeMachines]="gameData.timeMachines"
          [darkMatterCount]="gameData.currentDarkMatter"
          (timeMachinesUpdated)="updateTimeMachines($event)"
        ></app-time-machines>
      </div>
      <!--// NEWS //-->
      <div class="col-7 news-wrapper center">
        <h5>The Lonely Thoughts of {{ gameData.name }}</h5>
        <div class="message-container">
          <h3 id="newsMessage">"{{ newsMessage }}"</h3>
        </div>
      </div>
    </div>
  </div>

  <!--// GAME END //-->
  <div *ngIf="canFixTime()" class="win-panel">
    <div class="win-button">
      <button
        (click)="fixTime()"
        title="If you press this it will finish the game!"
        type="button"
        class="pure-button button-error button-lg"
      >
        FIX THE TIME CONTINUUM!
      </button>
    </div>
  </div>
</div>
