.time-machines-component {

  .tm-card {
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid black;

    .col-12 {
      margin: 0;
    }

    .tm-card--description {
      margin: 0;
    }
  }

}
