/* STYLES ENTRY */

// Normalize
@import "./theme/normalize";

// Simple Grid System (https://simplegrid.io/)
@import "./theme/simple-grid";

// Pure CSS Modules (https://purecss.io/)
@import url("https://unpkg.com/purecss@2.0.3/build/buttons-min.css");
@import url("https://unpkg.com/purecss@2.0.3/build/forms-min.css");
@import url("https://unpkg.com/purecss@2.0.3/build/tables-min.css");
@import url("https://unpkg.com/purecss@2.0.3/build/menus-min.css");

// General CSS To Reuse
.italic {
  font-style: italic;
}

.bold {
  font-weight: bolder;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65);
  /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60);
  /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20);
  /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221);
  /* this is a light blue */
}

.button-sm {
  font-size: 70%;
}

.button-lg {
  font-size: 200%;
}
