.new-game-component {
  height: 100vh;
  width: 100vw;

  #intro-container {
    background-color: black;
    width: 100%;
    height: 100%;

    #intro {
      opacity: 0;
      position: absolute;
      top: 40%;
      left:30%;

      h1 {
        font-size: 5rem;
        color: ghostwhite;
        font-weight: bolder;
      }

      h2 {
        color: whitesmoke;
        font-style: italic;
      }
    }
  }

  #new-game-form {
    .story-text-start {
      border: 1px solid black;
      margin: 15px;
      padding: 15px;
      box-shadow: 1px 2px 3px grey;
    }
  }
}
